
h1 {
  font-size: 3.5em;
  margin: 0;
}

#header p {
  font-size: 1.6em;
  margin: 0;
}

#what_is_coffee, #coffee_beans{
  font-size: 1.3em;
}

#coffee_pic {
  max-width: 450px;
}

#coffea_caption {
  max-width: 280px;
}

#drinks_title {
  text-align: center;
}

#drinks_title p {
  font-size: 1.4em;
}

#latteinfo, #cappuccinoinfo, #macchiatoinfo {
  font-size: 1em;
}
